* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
    margin: 0%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container {
    background-color: azure;
    width: 70px;
    height: 200px;
    border-radius: 50px;
}